<!DOCTYPE html>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Nova+Slim"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=sans-serif"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Montserrat"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Montserrat_SemiBold"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Comfortaa"
/>
<html lang="en">
  <head>
    <title>Smojo Foundation</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Events that we offer at Smojo Foundation"
    />
    <meta name="name" content="Smojo Foundation" />
    <link
      rel="icon"
      href="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2.2%20Double%20Blue.png?v=1568401269500"
    />
    <link rel="stylesheet" href="background.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/demo.css" />
    <link rel="stylesheet" type="text/css" href="/component.css" />
    <link rel="stylesheet" type="text/css" href="/test2.css" />
    <link rel="stylesheet" href="events.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Montserrat_SemiBold"
    />
    <!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load -->
    <script src="/modernizr.custom.25376.js"></script>
    <script src="/test.js" defer></script>
  </head>

  <div id="perspective" class="perspective effect-laydown">
    <div class="container">
      <div class="wrapper">
        <div id="mnb" class="mnb">
          <a class="navbutton"
            ><div class="leftititle">
              <img
                id="showMenu"
                class="logoleft"
                src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2%20GlossG.PNG?v=1575428125152"
                alt="Text"
              /><span class="lefttext">SMOJO FOUNDATION</span>
            </div></a
          >
        </div>
        <div class="PageTop">
          <div class="Title">
            SF EVENTS
          </div>
          <div class="PageDescription">
            Events Active At Smojo Foundation
          </div>
        </div>
        <div class="grid-container">
          <div class="grid-item">
            <div class="gridtop">
              <img
                class="gridlogo"
                src="https://cdn.glitch.com/e0c0f129-5df7-4dbb-ac03-12339b9093e5%2F9135ccef-096f-4b96-9a5e-c5447312beb9_2.2.png?v=1566236303165"
              />
              <div class="gridtitle">
                CLIP EVENT
              </div>
            </div>
            <br />
            <div class="gridmiddle">
              The clip event is an community event ran for an opportunity to
              show your funny or amazing clips to the world.
            </div>
            <br />
            <div class="gridmiddle2">
              <div class="griddetails">
                <a
                  class="griddetailsbutton"
                  onclick="Display1();DisplayPreviousWinnersButton();PreviousWinnerVideo()"
                  >DETAILS</a
                >
                <div class="noDisplay" id="griddetailss1">
                  <div class="topicbox">
                    <div class="Topic">
                      Next Event :
                    </div>
                    <div class="TopicDetails">
                      1/12/2020
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Duration :
                    </div>
                    <div class="TopicDetails">
                      2 Weeks, 1 week break
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Prizes :
                    </div>
                    <br />
                    <div class="PrizeList">
                      <div class="prize">
                        ● $5 Via Paypal
                      </div>
                      <div class="prize">
                        ● Winners Role on Discord
                      </div>
                      <div class="prize">
                        ● Submitted Clip Advertised Across Our Platform
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Description :
                    </div>
                    <div class="EventDescription">
                      The clip event is two weeks long with a one week grace
                      period between the events. The two weeks are broken into
                      two seperate weeks, Week 1 and Week 2 Week 1 is the
                      submission week where you will submit your clip into the
                      contest. You may only submit one clip per event. Week 2 is
                      dedicated to the voting of clips. On the last day of the
                      Week 2 the winner will be announced and given the prizes
                      of the event.
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
            <br />
            <div class="gridbottom">

              <a
                class="noDisplay"
                id="PreviousWinnersButton"
                onclick="DisplayPreviousWinners()"
                >PREVIOUS WINNERS</a
              >
              <div class="noDisplay" id="PreviousWinners">
                <div class="slideshow-container">
                                    <div class="mySlides fade">
                    <div class="VideoTop">
                      <div class="numbertext">1 / 6</div>
                      <div class="EventNumber">Event #6</div>
                      <div class="Winner">Torent45#5993</div>
                    </div>
                    <video
                      id="PreviousWinnerVideo6"
                      class="PreviousWinnerVideo"
                      controls="controls"
                      width="1024"
                      height="576"
                    >
                      <source
                        src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FTorent45_2.mp4?v=1577492849221"
                        type="video/mp4"
                      />
                    </video>
                  </div>
                                    <div class="mySlides fade">
                    <div class="VideoTop">
                      <div class="numbertext">2 / 6</div>
                      <div class="EventNumber">Event #5</div>
                      <div class="Winner">Button Masher#9474</div>
                    </div>
                    <video
                      id="PreviousWinnerVideo5"
                      class="PreviousWinnerVideo"
                      controls="controls"
                      width="1024"
                      height="576"
                    >
                      <source
                        src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FButtonMasher%239474.mp4?v=1577492906353"
                        type="video/mp4"
                      />
                    </video>
                  </div>
                                    <div class="mySlides fade">
                    <div class="VideoTop">
                      <div class="numbertext">3 / 6</div>
                      <div class="EventNumber">Event #4</div>
                      <div class="Winner">Walrito#7433</div>
                    </div>
                    <video
                      id="PreviousWinnerVideo4"
                      class="PreviousWinnerVideo"
                      controls="controls"
                      width="1024"
                      height="576"
                    >
                      <source
                        src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FWalrito.mp4?v=1577492638179"
                        type="video/mp4"
                      />
                    </video>
                  </div>
                  <div class="mySlides fade">
                    <div class="VideoTop">
                      <div class="numbertext">4 / 6</div>
                      <div class="EventNumber">Event #3</div>
                      <div class="Winner">Thermal#4136</div>
                    </div>
                    <video
                      id="PreviousWinnerVideo3"
                      class="PreviousWinnerVideo"
                      controls="controls"
                      width="1024"
                      height="576"
                    >
                      <source
                        src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Fthermal.mp4?v=1571344193566"
                        type="video/mp4"
                      />
                    </video>
                  </div>
                  <div class="mySlides fade">
                    <div class="VideoTop">
                      <div class="numbertext">5 / 6</div>
                      <div class="EventNumber">Event #2</div>
                      <div class="Winner">Ryu#8371</div>
                    </div>
                    <video
                      id="PreviousWinnerVideo2"
                      class="PreviousWinnerVideo"
                      controls="controls"
                      width="1024"
                      height="576"
                    >
                      <source
                        src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FRyu.mp4?v=1568757099581"
                        type="video/mp4"
                      />
                    </video>
                  </div>
                  <div class="mySlides fade">
                    <div class="VideoTop">
                      <div class="numbertext">6 / 6</div>
                      <div class="EventNumber">Event #1</div>
                      <div class="Winner">Thermal#4136</div>
                    </div>
                    <video
                      id="PreviousWinnerVideo"
                      class="PreviousWinnerVideo"
                      controls="controls"
                      width="1024"
                      height="576"
                    >
                      <source
                        src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FThermal.mp4?v=1567878108362"
                        type="video/mp4"
                      />
                    </video>
                  </div>

                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br />

                <script>
                  var slideIndex = 1;
                  showSlides(slideIndex);

                  // Next/previous controls
                  function plusSlides(n) {
                    showSlides((slideIndex += n));
                  }

                  // Thumbnail image controls
                  function currentSlide(n) {
                    showSlides((slideIndex = n));
                  }

                  function showSlides(n) {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    if (n > slides.length) {
                      slideIndex = 1;
                    }
                    if (n < 1) {
                      slideIndex = slides.length;
                    }
                    for (i = 0; i < slides.length; i++) {
                      slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                      dots[i].className = dots[i].className.replace(
                        " active",
                        ""
                      );
                    }
                    slides[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " active";
                  }
                </script>
              </div>
                            <div class="buttondiv">
                <a
                  href="https://discord.gg/wWVZ4eQ"
                  target="_blank"
                  class="joineventbutton"
                  >JOIN EVENT</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="PageBottom">
          <div class="Title">
            UPCOMING EVENTS
          </div>
          <div class="PageDescription">
            Events Soon To Come To Smojo Foundation
          </div>
        </div>
        <div class="grid-container">
          <div class="grid-item">
            <div class="gridtop">
              <img
                class="gridlogo"
                src="https://cdn.glitch.com/e0c0f129-5df7-4dbb-ac03-12339b9093e5%2F9135ccef-096f-4b96-9a5e-c5447312beb9_2.2.png?v=1566236303165"
              />
              <div class="gridtitle">
                STREAMER SUPPORT EVENT
              </div>
            </div>
            <br />
            <div class="gridmiddle">
              The Streamer Support Event is an event that financially aids
              streamers on twitch.
            </div>
            <br />
            <div class="gridmiddle2">
              <div class="griddetails">
                <a class="griddetailsbutton" onclick="Display2()">DETAILS</a>
                <div class="noDisplay" id="griddetailss2">
                  <div class="topicbox">
                    <div class="Topic">
                      Next Event :
                    </div>
                    <div class="TopicDetails">
                      TBA
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Duration :
                    </div>
                    <div class="TopicDetails">
                      3 Weeks, 1 Week Break
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Prizes :
                    </div>
                    <br />
                    <div class="PrizeList">
                      <div class="prize">
                        ● Prize Pool : TBA
                      </div>
                      <div class="prize">
                        ● Winners Role on Discord
                      </div>
                      <div class="prize">
                        ● Twitch Channel Advertised Across Our Platform
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Description :
                    </div>
                    <div class="EventDescription">
                      The Streamer support event is an event that is ran every 4
                      weeks. Week 1 is the join week in which streamers can join
                      the event. Week 2 is the prepare week, in which
                      preperations for votings begin, a streamer might use this
                      week to tell their community and get them to vote for
                      them. Week 3 is the voting week in which communities will
                      vote for their prefered streamer. Week 4 is the break week
                      to prepare for the next event. Each event consist of
                      streamers of all sizes. Each event will have 5
                      contestants, if you join the event and arnt upon the first
                      5 contestants then you will be qued for the next event.
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
            <br />
          </div>
          <div class="grid-item">
            <div class="gridtop">
              <img
                class="gridlogo"
                src="https://cdn.glitch.com/e0c0f129-5df7-4dbb-ac03-12339b9093e5%2F9135ccef-096f-4b96-9a5e-c5447312beb9_2.2.png?v=1566236303165"
              />
              <div class="gridtitle">
                INVITE EVENT
              </div>
            </div>
            <br />
            <div class="gridmiddle">
              The Invite Event is an event to compete for the most invites to
              the discord.
            </div>
            <br />
            <div class="gridmiddle2">
              <div class="griddetails">
                <a class="griddetailsbutton" onclick="Display3()">DETAILS</a>
                <div class="noDisplay" id="griddetailss3">
                  <div class="topicbox">
                    <div class="Topic">
                      Next Event :
                    </div>
                    <div class="TopicDetails">
                      TBA
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Duration :
                    </div>
                    <div class="TopicDetails">
                      1 Week, Every Month
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Prizes :
                    </div>
                    <br />
                    <div class="PrizeList">
                      <div class="prize">
                        ● Prize Pool : TBA
                      </div>
                      <div class="prize">
                        ● Winners Role on Discord
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Description :
                    </div>
                    <div class="EventDescription">
                      The Invite event is at the beginning of every week. During
                      that week the person who invites the most people wins.
                      This is a fun and simple event that also helps smojo
                      foundation grow.
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
            <br />
          </div>
          <div class="grid-item">
            <div class="gridtop">
              <img
                class="gridlogo"
                src="https://cdn.glitch.com/e0c0f129-5df7-4dbb-ac03-12339b9093e5%2F9135ccef-096f-4b96-9a5e-c5447312beb9_2.2.png?v=1566236303165"
              />
              <div class="gridtitle">
                TOURNAMENT EVENT
              </div>
            </div>
            <br />
            <div class="gridmiddle">
              The tournament event is an event that host tournaments for
              multiple competative games.
            </div>
            <br />
            <div class="gridmiddle2">
              <div class="griddetails">
                <a class="griddetailsbutton" onclick="Display4()">DETAILS</a>
                <div class="noDisplay" id="griddetailss4">
                  <div class="topicbox">
                    <div class="Topic">
                      Next Event :
                    </div>
                    <div class="TopicDetails">
                      TBA
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Duration :
                    </div>
                    <div class="TopicDetails">
                      MONTHLY
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Prizes :
                    </div>
                    <br />
                    <div class="PrizeList">
                      <div class="prize">
                        ● prize pool : TBA
                      </div>
                      <div class="prize">
                        ● Winners Role on Discord
                      </div>
                      <div class="prize">
                        ● Winner/Winners Advertised Across Our Platform
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Description :
                    </div>
                    <div class="EventDescription">
                      The tournament event will be ran monthly, we will host
                      tournaments of many games such as, Rocket Leauge,
                      minecraft, wizard101, rust, call of duty, csgo, halo,
                      warframe, dota2. When this event starts We will focus on
                      one specific game, as the event grows we will branch into
                      other games. Our first game will be rocket leauge
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
            <br />
          </div>
          <div class="grid-item">
            <div class="gridtop">
              <img
                class="gridlogo"
                src="https://cdn.glitch.com/e0c0f129-5df7-4dbb-ac03-12339b9093e5%2F9135ccef-096f-4b96-9a5e-c5447312beb9_2.2.png?v=1566236303165"
              />
              <div class="gridtitle">
                STREAMER OF THE WEEK EVENT
              </div>
            </div>
            <br />
            <div class="gridmiddle">
              The Streamer of the week event is an event that spreads the name
              of a streamer.
            </div>
            <br />
            <div class="gridmiddle2">
              <div class="griddetails">
                <a class="griddetailsbutton" onclick="Display5()">DETAILS</a>
                <div class="noDisplay" id="griddetailss5">
                  <div class="topicbox">
                    <div class="Topic">
                      Next Event :
                    </div>
                    <div class="TopicDetails">
                      TBA
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Duration :
                    </div>
                    <div class="TopicDetails">
                      2 Weeks, 2 week break
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Prizes :
                    </div>
                    <br />
                    <div class="PrizeList">
                      <div class="prize">
                        ● Winners Role on Discord
                      </div>
                      <div class="prize">
                        ● Twitch channel Advertised Across Our Platform
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Description :
                    </div>
                    <div class="EventDescription">
                      The streamer of the week event is an event in which a
                      random streamer from the "Verfied Streamer" Role on our
                      discord, is picked and spread across our platform. This
                      event will boost the streamers popularity and bring allot
                      more eyes to their content.
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
            <br />
          </div>
          <div class="grid-item">
            <div class="gridtop">
              <img
                class="gridlogo"
                src="https://cdn.glitch.com/e0c0f129-5df7-4dbb-ac03-12339b9093e5%2F9135ccef-096f-4b96-9a5e-c5447312beb9_2.2.png?v=1566236303165"
              />
              <div class="gridtitle">
                GFX CONTEST EVENT
              </div>
            </div>
            <br />
            <div class="gridmiddle">
              The gfx design contest is an event for gifted gfx designs to
              compete and design the best SF Theme gfx
            </div>
            <br />
            <div class="gridmiddle2">
              <div class="griddetails">
                <a class="griddetailsbutton" onclick="Display6()">DETAILS</a>
                <div class="noDisplay" id="griddetailss6">
                  <div class="topicbox">
                    <div class="Topic">
                      Next Event :
                    </div>
                    <div class="TopicDetails">
                      TBA
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Duration :
                    </div>
                    <div class="TopicDetails">
                      TBA
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Prizes :
                    </div>
                    <br />
                    <div class="PrizeList">
                      <div class="prize">
                        ● Prize Pool : TBA
                      </div>
                      <div class="prize">
                        ● Winners Role on Discord
                      </div>
                      <div class="prize">
                        ● GFX Advertised Across Our Platform
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="topicbox">
                    <div class="Topic">
                      Description :
                    </div>
                    <div class="EventDescription">
                      The gfx design contest is a contest for talented gfx
                      designers to show their skills across smojo foundation
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>

    <nav class="outer-nav top horizontal">
      <a target="blank" href="https://discord.gg/dSZx4gV" class="tooltip"
        ><img
          class="LogoN LogoN1"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F1%20Gloss.PNG?v=1575604374160"
        /><span class="tooltiptext">SF Content Support</span></a
      >
      <a target="blank" href="https://discord.gg/dSZx4gV" class="tooltip"
        ><img
          class="LogoN LogoN2"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2.2SFST%20Gloss.PNG?v=1575604394876"
        /><span class="tooltiptext">SF Stream Team</span></a
      >
      <a href="/home.html" class="tooltip">
        <img
          class="LogoNM"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2%20GlossG.PNG?v=1575428125152"
        /><span class="tooltiptext">Smojo Foundation</span></a
      >
      <a href="/sfmineverse.html" class="tooltip"
        ><img
          class="LogoN LogoN3"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FGlobal%20Logo%20Gloss.PNG?v=1575604389004"
        /><span class="tooltiptext">SF Minverse</span></a
      >

      <a href="/events.html" class="tooltip"
        ><img
          class="LogoN LogoN4"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2.2%20Glosss2.PNG?v=1575604415000"
        /><span class="tooltiptext">SF Events</span></a
      >
    </nav>
    <nav class="outer-nav navbottom horizontal">
      <div class="grid-container_navbottom">
        <a href="/contact.html"><div class="nbt">CONTACT US</div></a>
        <a href="/family.html"><div class="nbt">FAMILY</div></a>
        <a href="/contribute.html"><div class="nbt">CONTRIBUTE</div> </a>
      </div>
    </nav>
  </div>

  <script>
    function Display() {
      var banner = document.getElementById("nb2right");
      if (banner.classList.contains("display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "display");
      }
    }

    function Display1() {
      var banner = document.getElementById("griddetailss1");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "Display");
      }
    }
    function DisplayPreviousWinnersButton() {
      var banner = document.getElementById("PreviousWinnersButton");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "Display");
      }
    }
    function DisplayPreviousWinners() {
      var banner = document.getElementById("PreviousWinners");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "Display");
      }
    }
    function PreviousWinnerVideo() {
      var banner = document.getElementById("PreviousWinners");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      }
    }

    PreviousWinnerVideo;
    function Display2() {
      var banner = document.getElementById("griddetailss2");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "Display");
      }
    }
    function Display3() {
      var banner = document.getElementById("griddetailss3");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "Display");
      }
    }
    function Display4() {
      var banner = document.getElementById("griddetailss4");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "Display");
      }
    }
    function Display5() {
      var banner = document.getElementById("griddetailss5");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "Display");
      }
    }
    function Display6() {
      var banner = document.getElementById("griddetailss6");
      if (banner.classList.contains("Display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "Display");
      }
    }
  </script>
  <script>
    function Display() {
      var banner = document.getElementById("nb2right");
      if (banner.classList.contains("display")) {
        banner.setAttribute("class", "noDisplay");
      } else {
        banner.setAttribute("class", "display");
      }
    }
  </script>
  <script src="/classie.js"></script>
  <script src="/menu.js"></script>
</html>
