<!DOCTYPE html>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Nova+Slim"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=sans-serif"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Montserrat"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Montserrat_SemiBold"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Comfortaa"
/>
<html lang="en">
  <head>
    <title>Smojo Foundation</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Contribute to the events and operations of Smojo Foundation."
    />
    <meta name="name" content="Smojo Foundation" />
    <link
      rel="icon"
      href="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2.2%20Double%20Blue.png?v=1568401269500"
    />
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/demo.css" />
    <link rel="stylesheet" type="text/css" href="/component.css" />
    <link rel="stylesheet" type="text/css" href="/test2.css" />
    <link rel="stylesheet" href="background.css" />
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="navbar.css" />
        <link rel="stylesheet" type="text/css" href="/footer.css" />
    <script src="/test.js" defer></script>
    <script src="/modernizr.custom.25376.js"></script>
  </head>
</html>
<body>
  <div id="perspective" class="perspective effect-laydown">
    <div class="container">
      <div class="wrapper">
        <div id="mnb" class="mnb">
          <a class="navbutton"
            ><div class="leftititle">
              <img
                id="showMenu"
                class="logoleft"
                src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2%20GlossG.PNG?v=1575428125152"
                alt="Text"
              /><span class="lefttext">SMOJO FOUNDATION</span>
            </div></a
          >
        </div>
        <div class="page1">
            <div class="avatar">
              <img
                src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2test22.2.png?v=1575692996217"
              />
          </div>
          <div class="Middlepart">
            <div class="Description">
              Founded in October of 2018, Smojo Foundation's ultimate objective
              is to support content creators across the globe. Smojo Foundation
              is the collective of four distinctive groups. Each group
              compliments one another and supports the ultimate objective of
              Smojo Foundation along with providing an amazing community to be a
              part of.
            </div>

            <div class="panel">
              <a
                target="blank"
                href="https://www.patreon.com/join/smojofoundation"
                ><button>CONTRIBUTE</button></a
              >
            </div>

            <div class="grid-container">
              <div class="grid-item">
                <a
                  class="HBbutton"
                  target="blank"
                  href="https://discord.gg/dSZx4gV"
                >
                  <img
                    class="HBlogo"
                    src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FGFDASGFS.png?v=1576872000777"
                    alt="Text"
                  />
                </a>
              </div>

              <div class="grid-item">
                <a
                  class="HBbutton"
                  target="blank"
                  href="https://discord.gg/dSZx4gV"
                >
                  <img
                    class="HBlogo2"
                    src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FGDFGFDSGFSD2.png?v=1577403873663"
                    alt="Text"
                  />
                </a>
              </div>
              <div class="grid-item">
                <a class="HBbutton" href="sfmineverse.html">
                  <img
                    class="HBlogo"
                    src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FGFDASGFS2.png?v=1577403865548"
                    alt="Text"
                  />
                </a>
              </div>
              <div class="grid-item">
                <a class="HBbutton" href="events.html">
                  <img
                    class="HBlogo2"
                    src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2test223.png?v=1577403851732"
                    alt="Text"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      <div class="grid-container_navbottom">
        <a href="/contact.html"><div class="footerlinks">CONTACT US</div></a>
        <a href="/family.html"><div class="footerlinks">FAMILY</div></a>
        <a href="/contribute.html"><div class="footerlinks">CONTRIBUTE</div> </a>
      </div>
      </div>
    </div>
    <nav class="outer-nav top horizontal">
      <a target="blank" href="https://discord.gg/dSZx4gV" class="tooltip"
        ><img
          class="LogoN LogoN1"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F1%20Gloss.PNG?v=1575604374160"
        /><span class="tooltiptext">SF Content Support</span></a
      >
      <a target="blank" href="https://discord.gg/dSZx4gV" class="tooltip"
        ><img
          class="LogoN LogoN2"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2.2SFST%20Gloss.PNG?v=1575604394876"
        /><span class="tooltiptext">SF Stream Team</span></a
      >
      <a href="/index.html" class="tooltip">
        <img
          class="LogoNM"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2%20GlossG.PNG?v=1575428125152"
        /><span class="tooltiptext">Smojo Foundation</span></a
      >
      <a href="/sfmineverse.html" class="tooltip"
        ><img
          class="LogoN LogoN3"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FGlobal%20Logo%20Gloss.PNG?v=1575604389004"
        /><span class="tooltiptext">SF Minverse</span></a
      >

      <a href="/events.html" class="tooltip"
        ><img
          class="LogoN LogoN4"
          src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2.2%20Glosss2.PNG?v=1575604415000"
        /><span class="tooltiptext">SF Events</span></a
      >
    </nav>
    <nav class="outer-nav navbottom horizontal">
      <div class="grid-container_navbottom">
        <a href=""><div class="nbt">CONTACT US</div></a>
        <a href=""><div class="nbt">FAMILY</div></a>
        <a href=""><div class="nbt">CONTRIBUTE</div> </a>
      </div>
    </nav>
  </div>
</body>
<script>
  function Display() {
    var banner = document.getElementById("nb2right");
    if (banner.classList.contains("display")) {
      banner.setAttribute("class", "noDisplay");
    } else {
      banner.setAttribute("class", "display");
    }
  }
</script>
<script src="/classie.js"></script>
<script src="/menu.js"></script>
