<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Perspective Page View Navigation</title>
    <meta
      name="description"
      content="Perspective Page View Navigation: Transforms the page in 3D to reveal a menu"
    />
    <meta
      name="keywords"
      content="3d page, menu, navigation, mobile, perspective, css transform, web development, web design"
    />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/demo.css" />
    <link rel="stylesheet" type="text/css" href="/component.css" />
    <link rel="stylesheet" type="text/css" href="/test2.css" />
    <link rel="stylesheet" type="text/css" href="/background.css" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat_SemiBold" />
    <!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load -->
    <script src="/modernizr.custom.25376.js"></script>
  </head>
  <body>
    <div id="perspective" class="perspective effect-laydown">
      <div class="container">
        <div class="wrapper">
          <!-- wrapper needed for scroll -->
          <!-- Top Navigation -->
          
          <!-- /main -->
          <div class="page1">
            <img
              id="showMenu"
              class="LogoMain"
              src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2test22.2.png?v=1575692996217"
            />
          </div>
        </div>
        <!-- wrapper -->
      </div>
      <!-- /container -->

      <nav class="outer-nav top horizontal">
        <a href="#" class="tooltip"
          ><img
            class="LogoN"
            src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F1%20Gloss.PNG?v=1575604374160"
        /><span class="tooltiptext">SF Content Support</span></a>
        <a href="#" class="tooltip"
          ><img
            class="LogoN"
            src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2.2SFST%20Gloss.PNG?v=1575604394876"
        /><span class="tooltiptext">SF Stream Team</span></a>
        <a href="#" class="tooltip">
          <img
            class="LogoNM"
            src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2%20GlossG.PNG?v=1575428125152"
        /><span class="tooltiptext">Smojo Foundation</span></a>
        <a href="/sfmineverse.html" class="tooltip"
          ><img
            class="LogoN"
            src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2FGlobal%20Logo%20Gloss.PNG?v=1575604389004"
        /><span class="tooltiptext">SF Minverse</span></a>
        
        <a href="/events.html" class="tooltip"
          ><img
            class="LogoN"
            src="https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2F2.2%20Glosss2.PNG?v=1575604415000"
        /><span class="tooltiptext">SF Events</span></a>
      </nav>
      <nav class="outer-nav navbottom horizontal">
        <div class="grid-container_navbottom">
<a href=""><div class="nbt">CONTACT US</div></a>
          <a href=""><div class="nbt">FAMILY</div></a>
          <a href=""><div class="nbt">CONTRIBUTE</div> </a>
        </div>
      </nav>
    </div>
    <!-- /perspective -->
    <script src="/classie.js"></script>
    <script src="/menu.js"></script>
  </body>
</html>
